.container {
  width: 850px;
}
body {
    text-align:center;
  background: #6699FF;
    width: 710px;

}

section {
  margin-top: 1em;
  font-size: 100%;
  padding: 20px;
  background: #fff;
  text-align:left;
}
.thumbnail
{
float:left;
margin:1px;
}
section h1 {
  font-size: 200%;
}
 .head
 {
    font-size: 150%;
     padding: 20px;
     text-align: center;
     background-color: white;
     border: 1px solid red;

 }



