

    <h2>About Us</h2>
      <%= image_tag("computer.jpg", :alt => "IT computers", :class => "thumbnail") %>
    <p>
        For a Gurukul developer  vision was born, which would eventually stand out as a brand name synonymous with innovation and integrity. Starting off with consumer products business,
      Gurukul developer then diversified into newer areas including IT hardware and IT services. Such has been the dynamic power of the organization that over the past 50 years, Wipro has evolved into a leading global IT company, a company which has pioneered many an innovation in the IT services, BPO and R&D services space.
      Today’s business environment makes it imperative that the
      dynamic infrastructure requirements align with your business needs.
      Gurukul’ IT Infrastructure Services (IS) | Infrastructure Management Services (IMS) deliver end-to-end, effective and reliable solutions that can transform your business operations.
    </p>

